{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
    <section id="event-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
           <div class="row">
               <div class="col-lg-6">
                   <div class="singel-event-list mt-30">
                       <div class="event-thum">
                        <img src="{{ post.image.url }}" class="rounded featured-image-list" alt="{{post.title}}">
                       </div>
                       <div class="event-cont" id="blog">
                            <a href="{{ post.get_absolute_url }}"><h4 class="text-primary">{{ post.title }}</h4></a>
                           
                                <small class="text-muted">
                                    Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
                                </small>
                            
                            <p id="more">{{ post.body|safe|striptags|truncatechars:100 }}</p>

                                <a class="btn btn-primary btn-sm" onclick="showMore()">Read more</a>
                                
                       </div>
                       
                   </div>
               </div>
               
           </div> 
           
        </div> <!-- container -->
    </section>
    
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock content %}