{% extends 'base.html'  %}

{% load static %}
 
{% block content%}
<!--====== ABOUT PART START ======-->
    
    <section id="about-page" class="pt-70 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                        <h5>About us</h5>
                        
                        <h2> <title></title> </h2>
                        
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p>To be an icon of world class girls school by maintaining high academic standards and nurturing integrity and leadership.</p>
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-7">
                    <div class="about-image mt-50">
                        <img src="{% static 'images/gallery/reception.jpg' %}" alt="About">
                    </div>  <!-- about imag -->
                </div> 
            </div> <!-- row -->
            <div class="about-items pt-60">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-schools22-items mt-30">
                            <span>01</span>
                            <h4>Motto:</h4>
                            <p>Strive to shine</p>
                        </div> <!-- about schools22 -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-schools22-items mt-30">
                            <span>02</span>
                            <h4>Mission</h4>
                            <p>To be an icon of world class girls school by maintaining high academic standards and nurturing integrity and leadership.</p>
                        </div> <!-- about schools22 -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-schools22-items mt-30">
                            <span>03</span>
                            <h4>vission</h4>
                            <p>To strive to help nurturesuccess in academic and inculcate life skills in them.</p>
                        </div> <!-- about schools22 -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-schools22-items mt-30">
                            <span>04</span>
                            <h4>Core Values</h4>
                            <li>Excellence</li>
                            <li>Integrity</li>
                            <li>Team spirit</li>
                            <li>Discipline</li>
                            <li>Leadership</li>
                            <li>Honesty</li>
                            <li>Dedication</li>
                            
                        </div> <!-- about schools22 -->
                    </div>
                </div> <!-- row -->
            </div> <!-- about items -->
        </div> <!-- container -->
    </section>
    
    <!--====== ABOUT PART ENDS ======-->

    <!--====== COUNTER PART START ======-->
    
    <div id="counter-part" class="bg_cover pt-65 pb-110" data-overlay="8" style="background-image: url(images/bg-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="schools22-counter text-center mt-40">
                        <span><span class="counter">5000</span>+</span>
                        <p>Students enrolled</p>
                    </div> <!-- schools22 counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="schools22-counter text-center mt-40">
                        <span><span class="counter">50</span>+</span>
                        <p>Teachers</p>
                    </div> <!-- schools22 counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="schools22-counter text-center mt-40">
                        <span><span class="counter">15</span>+</span>
                        <p>Non Teaching stuff</p>
                    </div> <!-- schools22 counter -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
    
    <!--====== COUNTER PART ENDS ======-->
    <!--====== TEASTIMONIAL PART START ======-->
    
    <section id="testimonial" class="bg_cover pt-115 pb-120" data-overlay="8" style="background-image: url(images/bg-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-40">
                        <h5>Testimonial</h5>
                        <h2>Peoples thinking about us</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row testimonial-slied mt-40">
                <div class="col-lg-6">
                    <div class="schools22-testimonial">
                        <div class="testimonial-thum">
                            <img src="{% static 'images/logo.png' %}" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Principal</h6>
                            <span>Bsc, Education art</span>
                        </div>
                    </div> <!-- schools22 testimonial -->
                </div>
            </div> <!-- testimonial slied -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEASTIMONIAL PART ENDS ======-->
   
    <!--====== PATNAR LOGO PART START ======-->
    
    <!-- <div id="patnar-logo" class="pt-40 pb-80 gray-bg">
        <div class="container">
            <div class="row patnar-slied">
                <div class="col-lg-12">
                    <div class="schools22-patnar text-center mt-40">
                        <img src="{% static 'images/patnar-logo/p-1.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="schools22-patnar text-center mt-40">
                        <img src="{% static 'images/patnar-logo/p-2.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="schools22-patnar text-center mt-40">
                        <img src="{% static 'images/patnar-logo/p-3.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="schools22-patnar text-center mt-40">
                        <img src="{% static 'images/patnar-logo/p-4.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="schools22-patnar text-center mt-40">
                        <img src="{% static 'images/patnar-logo/p-2.png' %}" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="schools22-patnar text-center mt-40">
                        <img src="{% static 'images/patnar-logo/p-3.png' %}" alt="Logo">
                    </div>
                </div>
            </div> 
        </div> 
    </div>  -->
{%endblock%}    
   