<!-- navigation bar -->
{% load static %}
{% block nav %}
  
  <!--====== PRELOADER PART START ======-->
<!--     
    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div> -->
    
    <!--====== PRELOADER PART START ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header id="header-part">
       
      <div class="header-top d-none d-lg-block">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="header-contact text-lg-left text-center">
                          <ul>
                              <li><img src="{% static 'images/all-icon/map.png' %}" alt="icon"><span>127/5 Mark street, New york</span></li>
                              <li><img src="{% static 'images/all-icon/email.png' %}" alt="icon"><span>info@yourmail.com</span></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="header-opening-time text-lg-right text-center">
                          <p>Opening Hours : Monday to Saturay - 8 Am to 5 Pm</p>
                      </div>
                  </div>
              </div> <!-- row -->
          </div> <!-- container -->
      </div> <!-- header top -->
      
      <div class="header-logo-support pt-30 pb-30">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-4">
                      <div class="logo">
                          <a href="{% url 'about' %}">
                              <img src="{% static 'images/logo.png' %}" alt="Logo">
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                      <div class="support-button float-right d-none d-md-block">
                          <div class="support float-left">
                              <div class="icon">
                                  <img src="{% static 'images/all-icon/support.png' %}" alt="icon">
                                   
                              </div>
                              <div class="cont">
                                  <p>Talk with one of us</p>
                                  <span>+254701603105</span>
                              </div>
                          </div>
                          <div class="button float-left">
                              <a href="#" class="main-btn">Apply Now</a>
                          </div>
                      </div>
                  </div>
              </div> <!-- row -->
          </div> <!-- container -->
      </div> <!-- header logo support -->
      
      <div class="navigation">
          <div class="container">
              <div class="row">
                  <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                      <nav class="navbar navbar-expand-lg">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>

                          <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                  <li class="nav-item">
                                      <a class="active" href="{% url 'index' %}">Home</a>
                                      <!-- <ul class="sub-menu">
                                          <li><a class="active" href="{% url 'about' %}">Home 01</a></li>
                                          <li><a href="{% url 'learn' %}">Home 02</a></li>
                                          <li><a href="{% url 'learn' %}">Home 03</a></li>
                                      </ul> -->
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'about' %}">About us</a>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'learn' %}">Learn</a>
                                      <ul class="sub-menu">
                                          <li><a href="{% url 'courses' %}">Courses</a></li>
                                          
                                      </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'events' %}">Events</a>
                                      <ul class="sub-menu">
                                          <li><a href="{% url 'events' %}">Events</a></li>
                                          
                                      </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{%  url  'learn'  %}">Our teachers</a>
                                      <ul class="sub-menu">
                                          <li><a href="{% url 'learn' %}">teachers</a></li>
                                          
                                      </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'blog' %}">Blog</a>
                                      <ul class="sub-menu">
                                          <li><a href="{%  url  'blog'  %}">Blog</a></li>
                                          <li><a href="{%  url  'blog'  %}">Blog Singel</a></li>
                                      </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'departments' %}">Departments</a>
                                      <ul class="sub-menu">
                                          <li><a href="{% url 'departments' %}">Depts</a></li>
                                          
                                      </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'contact' %}">Contact</a>
                                      <ul class="sub-menu">
                                          <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                          
                                      </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'gallery' %}">Gallery</a>
                                      <ul class="sub-menu">
                                          <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                          
                                      </ul>
                                  </li>
                                  <li class="nav-item">
                                      <a href="{% url 'register' %}">Account</a>
                                      <ul class="sub-menu">
                                          <li><a href="{% url 'register' %}">Create account</a></li>
                                          <li><a href="{% url 'user_login' %}">Login</a></li>
                                          
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                      </nav> <!-- nav -->
                  </div>
                  
              </div> <!-- row -->
          </div> <!-- container -->
      </div>
      
  </header>
  
  <!--====== HEADER PART ENDS ======-->
 
  <!--====== SEARCH BOX PART START ======-->
  
  <div class="search-box">
      <div class="serach-form">
          <div class="closebtn">
              <span></span>
              <span></span>
          </div>
          <form action="#">
              <input type="text" placeholder="Search by keyword">
              <button><i class="fa fa-search"></i></button>
          </form>
      </div> <!-- serach form -->
  </div>
  
  <!--====== SEARCH BOX PART ENDS ======-->
{% endblock %}